*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #20da9b;
}
.container{
    background-color: #dfe871;
    width: 80%;
    padding: 1rem;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    transform: translateX(+10%);
    border-radius: 10px;
}
.container-problema{
    width: 100%;
    padding: 1rem;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

table{
    border-radius: 10px;
    background-color: #fffb98;
    display: flex;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}
